<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script type="text/javascript" th:src="@{/js/index2.js}"></script>
	
	<body ng-app="myApp" ng-controller="Ctrl">
		<h2>Hello world due, This is Index2~</h2>
		<h3>button</h3>
		<button ng-click="btnClick()">{{ variable }}</button>
		<br>
		<h3>table</h3>
		<div>
		
		</div>
		
		<br>
		
		<h3>table with ng-repeat</h3>
		<div>
		
		</div>
		
		<br>
	</body>
</html>